.button-animated {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ff5722; /* Changed color to a shade of orange */
  border-radius: 5px;
  text-decoration: none;
  animation: heartbeat 1.5s infinite;
  margin-right: 200px;
}

@keyframes heartbeat {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.4);
  }
  75% {
    transform: scale(1.4);
}
}


.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
.section-lg{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* The popup form - hidden by default */
.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  animation: fadeIn 0.5s;
}

/* Popup content */
.popup-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  animation: slideIn 0.5s, rainbowBackground 3s infinite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styling */
#enquiryForm label {
  display: block;
  margin-top: 10px;
  color: #000;
}

#enquiryForm input,
#enquiryForm textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#enquiryForm button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#enquiryForm button:hover {
  background-color: #0056b3;
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@keyframes slideOut {
  from {
      transform: translateY(0);
      opacity: 1;
  }
  to {
      transform: translateY(-50px);
      opacity: 0;
  }
}

/* Rainbow background animation */
@keyframes rainbowBackground {
  0% {
      background-color: #FFDADF;
  }
  16.7% {
      background-color: #FEC9C3;
  }
  33.4% {
      background-color: #DCC2E0;
  }
  50.1% {
      background-color: #C4E9E6;
  }
  66.8% {
      background-color: #F9F3AA;
  }
  83.5% {
      background-color: #C9EAD8;
  }
  100% {
      background-color: #CDCFF2;
  }
}

/* Hide popup and animate out */
.popup.hide {
  animation: fadeOut 0.5s;
}

.popup-content.hide {
  animation: slideOut 0.5s;
}
